@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body{
    background-color: black;
    color: #c9c9c9;
    font-family: 'Krona One', sans-serif;
}

#intro-text2{
    margin-top: 550px;
    margin-left: 150px;
    font-size: 15px;
}

@keyframes fade-inout{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}

#intro-text2{
    animation: fade-inout 5s;
}
