@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: #c9c9c9;
    text-align: center;
}

#intro-text{
    animation: introtext 3s linear alternate;
    margin-top: 350px;
    font-size: 15px;
    font-family: 'Krona One', sans-serif;
}

#container{
    height: 100px;
}

#main-instruction{
    animation: instructions 4s linear alternate;
    display: flex;
    margin-top: 255px;
    padding-left: 1190px;
    font-family: Brutal, sans-serif;
}

#Spacebar{
    margin-left: 10px;
    margin-right: 10px;
}
#svgg{
    animation: spacebar 2s linear infinite;
    margin-top: -32px;
}

@keyframes introtext{
    0%{opacity:0;}
    100%{opacity:1;}
}

@keyframes instructions{
    0%{opacity:0;}
    50%{opacity:0.01;}
    100%{opacity:1;}
}


@keyframes spacebar{
    0%{
        scale: 1;
    }
    20%{
        scale: 0.9;
    }
    40%{
        scale: 1;
    }
}